img{
    width: 250px;
    margin-top: 70px;
}

p{
font-size: 18pt;
color: black;
margin-left: 270px;
}

.blocks{
display: inline-block;

}

.block1{
float:left;
width: 25%;
}

.block2{
float:right;
width: 150%
}

.block2 a{
}

.link{
text-decoration: none;
    color: grey;
    font-size: 14pt;
}